*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f9f9f9;
}

nav{
    display: flex;
    height: 5vh;
    background-color: #3246b4;
    align-items: center;
    justify-content: center;
}

.recherche{
    margin: 3vh;
    height: 5vh;
}

.recherche input, button{
    height: 100%;
    margin: 0 2%;
}

button{
    padding: 0 1%;
    background-color: green;
    border-radius: 10px;
}

.ligne{
width: 100%;
display: flex;
font-size: 1.1em;
}
.colone{
width: 100%;
text-align: center;
padding: 1%;

}

.colorer{
    background-color: rgba(106, 145, 253, 0.212);
}

a{
    text-decoration: none;
    color: red;
    font-weight: bold;
}

