*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(43, 43, 43);
    color: white;
    overflow: hidden;
}

form{
    display: flex;
    flex-direction: column;
    margin : auto;
    width: 75vh;
    height: 50vh;
    justify-content:space-between;
}

input{
    height: 4vh;
    width:100%;
}

.test {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.ligne{
    display: flex;
    justify-content: space-between;
}

.nom{
    width: 33vh;
    text-align: center;
}
.prenom{
    width: 33vh;
    text-align: center;
}





.circle-container {
    width:100%;
    display:flex;
}

.inner-circle{
    display:inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(0, 63, 99);
    background-color:  rgb(43, 43, 43);
    margin:auto;
}

.circle-content {
    text-align:center;
    display: inline-block;
    
}

/*hr {
    width:100px;
    margin:auto;
}*/
  